.form{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.form form{
    width: 30%;
    padding: 25px 85px ;
    border-radius: 15px ;
    background: #03122F;
    border: 5px solid #6BD1FF;

}

.form h2{
    color: #2271D1;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    text-align: start;
}

