.campo-texto{
    margin: 15px 0px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
}

.campo-texto label{
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    display: block ;
    text-align: start;
    margin: 10px 0px 0px 1px;
}

.campo-texto input{
    background-color: #03122F;;
    width: 100%;
    display: block;
    border: none;
    border-radius: 15px;
    padding: 15px;
    border: 5px solid #6BD1FF
}   